body, html {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.bg-image{
    background-image: url("./assets/livingRoom.jpg");
    
    /* Full height */
    height: 100%;

    filter: blur(4px);   
    -webkit-filter: blur(4px);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    position: absolute;
    top: -4%;
}

.desktop-logo{
    width: 200px;
}

.desktop-logo:hover{
    scale: 1.1;
}

.content{
    position: absolute;
    top: 15%;
}

.card{
    background-color: rgba(255, 255, 255, .70);
    color: blue;
    display: flex;
    border-radius: 10px;
    
}

.clock-icon{
    width: 45px;
    height: auto;
    margin: 15px;
}

.clock-icon:hover{
    scale: 1.2;
}

.header{
    background-color: rgba(255, 255, 255, .70);
    color: blue;
    text-align: center; 
    border-radius: 10px;
    width: 50%;
}

.plus-button{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}

.plus-icon{
    width: 30px;
    margin: 15px;
}

.plus-button:hover{
    background-color: rgba(255, 255, 255, 1);
}

.form{
    background-color: rgba(255, 255, 255, .70);
    border-radius: 10px;
    width: 30%;
}

.form-body{
    padding: 20px;
    color: blue;
}