body,
html {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
}

.bg-image {
    background-image: url("./assets/livingRoom.jpg");

    /* Full height */
    height: 1000px;

    filter: blur(4px);
    -webkit-filter: blur(4px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-image-alt {
    background-image: url("./assets/livingRoom.jpg");

    /* Full height */
    height: 100%;

    filter: blur(4px);
    -webkit-filter: blur(4px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-image-mobile {
    background-image: url("./assets/livingRoom.jpg");

    /* Full height */
    height: 1300px;
    width: 100%;

    filter: blur(4px);
    -webkit-filter: blur(4px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    position: absolute;
    top: -4%;
}

.desktop-logo {
    width: 200px;
}

.desktop-logo:hover {
    scale: 1.1;
}

.content {
    position: absolute;
    top: 25%;
}

.content-mobile {
    position: absolute;
    top: 20%;
    left: 3%;
}

.content-mobile-escena {
    position: absolute;
    top: 25%;
}

.card {
    background-color: rgba(255, 255, 255, .70);
    color: blue;
    display: flex;
    border-radius: 10px;
}

.card:hover {
    cursor: pointer;
}

.clock-icon {
    width: 45px;
    height: auto;
    margin: 15px;
}

.clock-icon:hover {
    scale: 1.2;
}

.header {
    background-color: rgba(255, 255, 255, .70);
    color: blue;
    text-align: center;
    border-radius: 10px;
    width: 50%;
}

.plus-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1;
}

.plus-icon {
    width: 30px;
    margin: 15px;
}

.plus-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.form {
    background-color: rgba(255, 255, 255, .70);
    border-radius: 10px;
    width: 30%;
}

.form-mobile {
    background-color: rgba(255, 255, 255, .70);
    border-radius: 10px;
    width: 90%;
}

.form-body {
    padding: 20px;
    color: blue;
}

form {
    max-width: 320px;
}

.time-picker {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.4s ease;
    height: 0;
    overflow: hidden;
}
.time-picker .set-time {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.time-picker .label {
    width: 60px;
    margin: 0 5px;
    text-align: center;
    line-height: 34px;
    display: inline-style;
}
.time-picker .label a {
    display: block;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    border-radius: 3px;
}
.time-picker .label a:hover, .time-picker .label a:active {
    background-color: red;
    color: #fff;
}
.time-picker .label .set {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    line-height: 34px;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
}
.time-picker #submitTime {
    text-align: center;
    line-height: 34px;
    border: 1px solid #ddd;
    width: 128px;
    margin: auto;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}
.time-picker.open {
    border: 1px solid #ddd;
    padding: 15px;
    transition: all 0.5s ease;
    height: auto;
    background-color: #fcfcfc;
}
